body {
    margin:0;
    padding:0;
    font-family: "Noto Sans TC", sans-serif;
}
/* 字體大小區域 */
.header-1 {
    font-size: 28px; 
    font-weight: bold;
    line-height: 24px;
}
  
.header-2 {
    font-size: 30px; 
    font-weight: bold;
    line-height: 34px;
}

.header-3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

.btn {
    font-size: 19px;
    font-weight: bold;
    line-height: 16px;
}

.content {
    font-size: 16px;
    line-height: auto;
}

.body {
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;

}

.list {
    font-size: 14px; 
    font-weight: medium;
    line-height: auto;
}

.bold{
    font-weight: bold;
}

.primary-color{
    color:#448899;
}

.secondary-color{
    color:#666666;
}

.gray-10{
    color:#F8F8F8;
}

/* header(101背景圖)區域 20240605 */
/* 如何固定不破版? */
.navbar-background{
    width: 100%;
    background: white;    
    position: fixed;
    top: 0;    
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    padding-left: 10px;
}

.navbar-list{
    margin: 0;
}

.navbar-button{
    border: none;
    background: none;
    padding: 10px;
    font-weight: 500;
}

.navbar-button:hover{
    opacity: 100%;
}   

/* header(101背景圖)區域 20240605 */

.header{
    background-image: url('images/welcome_image.png'); /* Specify the path to your image */ 
    background-size: cover; /* Cover the entire header with the background image */ 
    background-position: center; /* Position the background image in the center */ 
    height: 320px;
    position: relative;
    margin-top: 54px; /* Add a top margin to match the navbar height */
}

.header-container{
    max-width: 1200px;
    margin: auto;
}

.header-text-box{
    max-width: 1200px;
    margin: auto;     
    text-align: left; /* Center align text content in the header */ 
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-text{
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.attraction-search-form{
    display: inline-block;
    position: relative;
    width: 460px;
}

.header-search-box{
    margin: 0;     
    text-align: left; /* Center align text content in the header */ 
}

.header-search-box::placeholder{
    padding:15px;
}

.search-bar{
    box-sizing: border-box;
    width: 400px;
    height: 46px;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 15px 0px 15px 15px;
}

.search-button{
    width: 60px;
    height: 46px;
    background-color: #448899;
    border: 0;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../static/images/search_icon.png");
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
}

/* 主文區域 20240603 */

.main-container{
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px 40px 0px;
}

.bigboxgroup{
    display:grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) ;
    max-width:100%;
    min-width: 0;
}


/* 橫向scroll bar區域 20240604 */
.horizontal-scroll-container{
    display: flex;
    margin: auto;
    padding-bottom: 20px;
}

.horizontal-scroll-btn {
    border: none;
    background: none;
    opacity: 50%;
}

.horizontal-scroll-btn:hover {
    opacity: 100%;
}

.horizontal-scroll-bar{
    box-sizing: border-box; 
    height: 50px;
    padding: 13px 10px 13px 10px;
    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    overflow-x: scroll;
}

.horizontal-scroll-bar::-webkit-scrollbar {
    display: none;
}

.mrt-item{
    padding: 5px 15px 5px 15px;
    gap: 4px;
    color:#666666;
}

.mrt-item:hover{
    color:#000000;
}

#scroll-left{
    padding: 9px 0px 9px 15px;
}

#scroll-right{
    padding: 9px 15px 9px 0px;
}


/* 景點盒子區域 */
.attraction{
    background-color:lightblue;
    height: 242px;
    min-width: 0;
    padding: 0px;
    margin: 0px;
    display:flex;
    align-items:center;    
    overflow: hidden;
    position: relative;
    margin: 15px;
    box-sizing: border-box; 
    border:1px #E8E8E8 solid;
    border-radius:5px;
}

.bigboximage{
    width:100%;
    min-width: 0;
    height:197px;
    position : absolute;
    top:0;
    object-fit: cover;
}

.text-block-1{
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    width:100%;
    min-width: 0;
    bottom: 45px;
    text-align: center;
    background-color: rgba(0,0,0,50%);
    color:white;
}

.text-block-1-text{
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-block-2{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width:100%;
    min-width: 0;
    bottom:0;
    background-color: rgb(255,255,255);
}

.text-block-2-text{
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-block-3-text{
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer{
    display: flex;
    height: 104px; /* Set a height for the header */ 
    background-color: #757575;
    color: white;
    font-weight:700;
    font-size:16px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1200px){

.main-container{
    max-width: 600px;
}

.bigboxgroup{
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

}

@media screen and (max-width:600px){

.search-bar {
    width: 230px;
}

.attraction-search-form{
    width: 290px;
}

.main-container{
    max-width: 300px;
}

.bigboxgroup{
    grid-template-columns: minmax(0, 1fr);
}

}
